<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="css/style.css">    
    <link rel="stylesheet" href="css/bootstrap.min.css">

    {% block stylesheet %}
      
    {% endblock %}
  </head>
  <body>
    <header>

    </header>
   
    {% block header %}

    {% endblock %} {% block body %} {% endblock %}

    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
