{% extends "base.html.twig" %}
{% block title %}
    Accueil
{% endblock %}

{% block body %} 

<h1>Bienvenu sur ma page</h1> 
<p>
  Je m'appelle <strong>M.Fadilou</strong>, je suis étudiant en
  <strong>BUT RT</strong> à l'IUT Jean Monnet de Roanne
</p> 

{% endblock %}
