<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" /> 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap" rel="stylesheet"/>
    {{ include('partial/_header.html.twig') }}
  </head>
  
  <body class="image3">
    <script>
            var images = ["images_de_mon_site/image2.jpg","images_de_mon_site/image3.jpg"];
            var i = 0;

            function changeBackground() {
              document.body.style.backgroundImage = "url(" + images[i] + ")";
              i = (i + 1) % images.length;
            }

            setInterval(changeBackground, 6000);
      </script>
      <h1 class="niveau1"><strong>Welcome to Fall Modou Fadilou Space</strong></h1>
      <p class="element" style="text-align: center;">
        My name is <strong>M.Fadilou Fall</strong>,I am a passionate first-year student in a degree 
        in <strong>Network</strong> and <strong>Telecommunications</strong> Engineering, ready to learn and put my knowledge into practice 
        to contribute to the development of information technology.
      </p>
      <p style="font-size: medium;">
        Name: Fall<br> First name: Modou Fadilou<br>Phone: +33 6 98 31 90 46 <br>Address: 10 Rue des Ecoliers, 42300, Roanne <br>
        University email address: <a href="modou.fadilou.fall@etu.univ-st-etienne.fr"></a>modou.fadilou.fall@etu.univ-st-etienne.fr <br>
      </p>
  
      
  </body>
</html>
