<!DOCTYPE html>
<html>
  <head>
    <title>CV - Fadilou</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    {{ include('partial/_header1.html.twig') }}
  </head>
  <body class="image1">
    <div class="element1">
      <header>
        <h1>Modou Fadilou Fall</h1>
        <h2>Etudiant</h2>
        Email: <a href="mailto:modoufadiloufall@gmail.com">modoufadiloufall@gmail.com</a><br>
        Phone: +33 6 98 31 90 46 <br>Adresse: 10 Rue des Ecoliers, 42300, Roanne <br>
      </header>
      <section>
        <h2> <strong class="element2">A propos de moi</strong></h2>
        <p>
          Je suis étudiant d'origine Sénégalaise actuellement en première année <strong>BUT réseau et télécommunication</strong>.
          <br>J'aime les mathématiques et informatiques et j'aime apprendre de nouvelles choses.
          <br>Comme parexemple le développement WEB dont je trouve beaucoup de plaisir. <br>
          Je suis également très passioné par le sport notamment le football et le karaté dont je paratique d'ailleurs depuis quelques mois. <br>
          Je suis très actif sur les réseaux sociaux comme Twitter,WahtsApp,Facebook,Instagramme...
        </p>
      </section>
      <section id="education">
        <h2> <strong class="element2">Education</strong></h2>
        <ul>
          <li>
            <h3>Diplôme:Bac S1 - Lycée Galandou Diouf</h3>
            <p>2021/2022</p>
            <p>J'ai eu mon bachaloréat <strong>S1</strong> au Lycée Galandou Diouf au Sénégal avec la mention <strong>assez bien</strong>. <br>
              Le <strong>S1</strong> veut dire "serie scientifque spécialisé en maths & physique".</p>
          </li>
          <li>
            <h3>Niveau d'étude actuel: Université - IUT Jean Monnet de Roanne</h3>
            <p>2022/2023</p>
            <p>
              J'ai intégré l'Instititue Universitaire de Technologie Jean Monnet de Roanne juste après l'obtention de mon bac. <br>
              Actuellement, je suis en première année <strong>BUT</strong> réseaux et télécommunications.
            </p>
          </li>
        </ul>
      </section>
      <section id="experience">
        <h2><strong class="element2">Experience</strong></h2>
        <ul>
          <li>
            <h3>Job Title - Company Name</h3>
            <p>Dates of Employment</p>
            <p>A brief summary of your responsibilities and accomplishments.</p>
          </li>
        </ul>
      </section>
      <section id="skills">
        <h2><strong class="element2">Skills</strong></h2>
        <ul>
          <li>Skill 1</li>
          <li>Skill 2</li>
          <li>Skill 3</li>
        </ul>
      </section>
    </div>
  </body>
</html>

