<!DOCTYPE html>
<html>
  <head>
    <title>CV - Fadilou</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    {{ include('partial/_header.html.twig') }}
  </head>
  <body>
    <div id="container">
      <header>
        <h1><strong>Modou Fadilou</strong></h1>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vroomly.com%2Fblog%2Ftop-8-des-marques-de-voiture-de-luxe%2F&psig=AOvVaw3-wDbv0smKkQ55HAf-Kjdg&ust=1673991614699000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCPCDv-6GzfwCFQAAAAAdAAAAABAH" alt="">
        <h2>Etudiant</h2>
        <p>Email: <a href="mailto:youremail@example.com">youremail@example.com</a></p>
        <p>Phone: 555-555-5555</p>
      </header>
      <section id="about">
        <h2> <strong>A propos de moi</strong></h2>
        <p>Je suis actuellement étudiant en première année en réseau et télécommunication.<br>J'aime les mathématiques et je passe mon temps libre à apprendre de nouvelles choses.</p>
      </section>
      <section id="education">
        <h2> <strong>Education</strong></h2>
        <ul>
          <li>
            <h3>Degree Name - School Name</h3>
            <p>Graduation Date</p>
            <p>A brief summary of your coursework and achievements.</p>
          </li>
        </ul>
      </section>
      <section id="experience">
        <h2>Experience</h2>
        <ul>
          <li>
            <h3>Job Title - Company Name</h3>
            <p>Dates of Employment</p>
            <p>A brief summary of your responsibilities and accomplishments.</p>
          </li>
        </ul>
      </section>
      <section id="skills">
        <h2>Skills</h2>
        <ul>
          <li>Skill 1</li>
          <li>Skill 2</li>
          <li>Skill 3</li>
        </ul>
      </section>
    </div>
  </body>
</html>

