<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon-portfolio</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" /> 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap" rel="stylesheet"/>
   {{ include('partial/_header3.html.twig') }}
</head>
<body class="image4">
    <div class="card bg-primary mb-3" style="max-width: 40rem;">
        <div class="card-header" _msthash="1664806" _msttexthash="106691">Mathématiques des transmissions</div>
            <div class="card-body">
                <p class="card-text" _msthash="1914861" _msttexthash="7954739">Je maîtrise les calculs trigonométriques, complexes et dans R.</p>
                <a href="https://docs.google.com/document/d/1jDZCf1D4WwhAXAdcGnHhrVNASLEWNsfcuCF-gdkkWKo/edit" target="_blank">document justificatif</a>
            </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 40rem;">
        <div class="card-header" _msthash="1665027" _msttexthash="106691">Configurer les fonctions de base du réseau local </div>
            <div class="card-body">
                <p class="card-text" _msthash="1915134" _msttexthash="7954739">je sais configurer les fonctions de base du réseau local.</p>
                <a href="https://docs.google.com/document/d/1eZdlm0QA9u7SoHHcmZdqN7Snnpau4oKEk7OuCCVd3vA/edit" target="_blank">document justificatif</a>
            </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 40rem;">
        <div class="card-header" _msthash="1665248" _msttexthash="106691">Connaître l’architecture et les technologies d’un site Web(Langages et outils : HTML, CSS, CMS, JS, responsive)</div>
            <div class="card-body">
                <p class="card-text" _msthash="1915407" _msttexthash="7954739">je sais créer une page web en HTML et changer le style avec CSS. Je sais également comment relier plusieurs pages WEB</p>
                <a href="https://docs.google.com/document/d/13xzMfqAkZww641l2JKGrxndfQ9H1uZGNMoDJ9HMP8xg/edit" target="_blank">document justificatif</a>
            </div>
    </div>
    <div class="card text-white bg-danger mb-3" style="max-width: 40rem;">
        <div class="card-header" _msthash="1665469" _msttexthash="106691">Lire, exécuter, corriger et modifier un programme(programmes simples type scripts, algorithme inclus)</div>
            <div class="card-body">
                <p class="card-text" _msthash="1915680" _msttexthash="7954739">je sais lire, exécuter et modifier un programme mieux en Python et avec l'aide.</p>
                <a href="https://docs.google.com/document/d/1XFo-xjKl51N5YOP0hkoDTmpJ0yu2nMDN7joMnGdKjGs/edit" target="_blank">document justificatif</a>
            </div>
    </div>
    <div class="card text-white bg-warning mb-3" style="max-width: 40rem;">
        <div class="card-header" _msthash="1665690" _msttexthash="106691">Mesurer et analyser les signaux(audio et vidéo, ordres de grandeurs, comprendre la dualité temps/fréquence et utiliser des équipements d’analyse spectrale, avec projetsautour de la chaîne d’acquisition/traitement)</div>
            <div class="card-body">
                <p class="card-text" _msthash="1915953" _msttexthash="7954739">j'arrive à faire les cablages basiques et régler des signaux. je sais faire les différentes types de calculs mathématiques et je sais aussi mesurer et analyser un signal.</p>
                <a href="https://docs.google.com/document/d/1-jhPaWi5PqQUmlXhsL6u27_ondzHPQKAYKf6tfh_dJo/edit" target="_blank">document justificatif</a>
            </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 40rem;">
        <div class="card-header" _msthash="1665911" _msttexthash="106691">Comprendre les principes et standards du codage de l’information</div>
            <div class="card-body">
                <p class="card-text" _msthash="1916226" _msttexthash="7954739">Je sais analyser une trame et sortir des informations(adresses,type,...)</p>
                <a href="https://docs.google.com/document/d/1SmURGGSDMjvxwO9KQy3NF8CNrnQSN5mqmLTkrfGW0pQ/edit" target="_blank">document justificatif</a>
            </div>
    </div>
            <p>
                <strong> Vous pouvez cliquer <a href="https://docs.google.com/spreadsheets/d/1ePBjuq1Cf7nTc-kwtiwfOppJEXpa0AdEo1VdsnYQrB4/edit#gid=0" target="_blank">ici</a>
                pour voir le tableau global de mon <strong>portfolio</strong> sur Excel.</strong>
            </p>

</body>
</html>