<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <div class="circulaire-image">
        <img src="https://lh3.googleusercontent.com/7IszGvgp6xZvkrroC_49CVt-44mnvX1WmJiVJ7-U3XfX7cv6TKRDPbySysZLxornClkVtokpl881YHJ4sxsbDgC7Yi8U28_wr1HBHrXgR9_oCaVczEqi97fhHCojSzvAmT_w1CiVsS3w4Q55yxC41zpHiqS0LGE-z8QK-a_QEfGeYboZ5FvJ4g2Sd3z4uQfTQvbyh01t2xUAEg8L8Sca8dTOaD5UgfttQEldNnqErgUOwkF7ZUAKzSnPPaR57kufDGzlSdKRSpbqv9xzInAT1rwgeNAOvfeE3ImuRH6D7Xk-5CmSZgrQg0ZGKgxo9WbjZU4P53N5RrLtQ51x_xObdokbtjgtqAkpUenRDv3bbGJpudihDMH7hAiUEdFSr-RMHtZZkrToSXD7hHJ2GKbDMgiZmsC6M4yVINmX891sCGAbqZ1fnd7ZyKQMLKomSTDWKxB3rEmeYvwBVhn1IWTCr1252tOm9iHG5pkwrASae7ksbJiMETX2Qs9AeZnLTguO96Xj3hgbk3dL-HAlIsjsDaBOvU1vUllqUboXAYLv6d8nnMkq-RggjvW0Mud-lNAKmjO1TNXZFY0xZ_rfps5ZWAKT9pDn2VNCUZiu_6ADWBxzDybhRqWfnPGMGvE8mi6DyRdsdep_sMNHgn-c6-GGrUv4Aox0RJ8DL8tI70b6L_Q0gekDACiow54GkwIuu1EIiCW93CQt3B1xWKYt5hLIfR6x_DjaCjEyqrMkpZ_8oSOZc7eeizKICmYwEX9Czdwsid-H5EmzrVNnmq2DTKJsv6sXZUbfzPIYG68Yp145vTT5ehJLPAXhRd98415Ac-8lvLowLuCDfllp77FTdlHmIhOOMyvA3XHfmJxPDtHuzGmLIPM9qVq3KTTqYtpOotqvX33krRNgwmJxMtMMvBzdtDF_uPfHASuFkeiq6qxLOsX5zRmv-NUE9C3XBQnoECRn8TEPVt3BE3-LBYbsXEoNuGKc078sD21-TZd3Xuuuy-QwdQufnwKmBEI7=s625-no?authuser=0"alt="profil" class="image">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> 
        <li class="nav-item pe-4">
          <a class="nav-link" href="mon_portfolio" >Portofolio</a>
        </li>
        <li class="nav-item pe-4">
          <a class="nav-link" href="contact" target="_blank">Loisirs</a>
        </li>
      </ul>
      </form>
    </div>
  </div>
</nav>
<hr class="my-4" />
</body>
</html>
